*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: fira;
}

section.x-article {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 12pt;
    font-family: fira;
    background-color: #d2d2b9;
}

section.x-article * {
    font-family: fira;
}

section.x-article h1,
section.x-article h2,
section.x-article h3 {
    border-bottom: 1px solid rgba(0,0,0,.5);
    color: #420;
    font-weight: 900;
    font-variant: small-caps;
}

section.x-article h1 {
    font-size: 150%;
}

section.x-article h2 {
    font-size: 135%;
}

section.x-article h3 {
    font-size: 120%;
}

section.x-article  a[href] {
    color: #a50;
    text-decoration: none;
}

section.x-article  a[href]:hover {
    text-decoration: underline;
}

section.x-article > header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #420;
    color: orange;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 .5em 0 0;
    box-shadow: 0 12px 24px rgba(0,0,0,.3);
    border-bottom: 1px solid #000;
}

section.x-article > header > a[href] {
    display: inline-block;
    width: 2em;
    text-align: center;
    margin: 0 1em 0 0;
    color: orange;
    border-right: 1px solid rgba(255,128,0,.6);
    text-shadow: 1px 1px #000;
}

section.x-article > header > a[href]:hover {
    background-color: orange;
    text-decoration: none;
    color: #420;
}



section.x-article > article {
    position: absolute;
    left: 0;
    top: 2em;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding: 1em;
    max-width: 60em;
    background-image: url(com/x-article/grain.png);
    margin: 0;
    background-color: rgba(255,245,200,.5);
}

section.x-article > article p {
    font-size: 120%;
    line-height: 125%;
    font-weight: 300;
}

@media screen and (min-width : 60em) {
    section.x-article > article {
        top: 3em;
        bottom: 1em;
        width: 60em;
        left: 50%;
        margin-left: -30em;
        box-shadow: 0 0 10px #000;
    }
}

section.x-article footer {
  border-top: 1px solid;
  padding: 1em
}

section.x-article footer span {
  display: inline-block;
  text-align: center;
  width: 32px;
  font-weight: 700;
}

section.x-article blockquote {
    border-left: .5em solid darkorange;
    padding-left: .5em;
    margin-left: .5em;
    font-size: 100%;
    font-weight: 300;
    line-height: 150%;
    font-style: oblique;
}

strong, b {
    font-weight: 900;
}


@font-face{font-family:fira;src: url(../../../FiraSans-Light.ttf)}
@font-face{font-family:fira;src: url(../../../FiraSans-Regular.ttf);font-weight:bold}
pre.highlight {
    position: relative;
    margin: 4px;
    padding: 8px;
    background: #000;
    border: 2px solid #555;
    box-shadow: 0 0 5px #fff;
    color: #ccc;
    border-radius: .5em;
    overflow-x: auto;
}

pre.highlight.js::after {
    content: "Javascript";
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    font-variant: small-fonts;
    opacity: .3;
    color: #fff;
}

pre.highlight .keyword {
    color: #07f;
    font-weight: bold;
}

pre.highlight .keyword2 {
    color: #0ff;
    font-weight: bold;
}

pre.highlight .function {
    color: #fff;
    font-weight: bold;
}

pre.highlight .symbol {
    color: #f08;
}

pre.highlight .operator {
    color: #f80;
}

pre.highlight .comment {
    color: #777;
}

pre.highlight .string {
    color: #0f0;
}

pre.highlight .regexp {
    background: #ff8;
    color: #000;
}

div.x-carmag {
    vertical-align: middle;
    display: inline-table;
    border-collapse: collapse;
    box-shadow: 0 6px 12px rgba(0,0,0,.3);
}

div.x-carmag.right {
    float: right;
}

div.x-carmag.left {
    float: left;
}

div.x-carmag > div {
    display: table-row;
}

div.x-carmag > div > div {
    width: 2em;
    height: 2em;
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    background: #fff;
    color: #000;
    font-weight: 900;
}

div.x-carmag > div > div.sum {
    font-size: 85%;
    font-weight: normal;
    color: rgba(0,0,0,.5);
    border: none;
    background: transparent;
}
math {
    display: inline;
}.wdg-carmag-decshift span.bad{font-weight:700;color:#d00}.wdg-carmag-decshift li.ok b{background:#7f7;border-radius:.5em;box-shadow:0 0 .5em .2rem #7f7}*,.dom,.dom *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Josefin Sans',sans-serif}a,b,i,em,code,span{display:inline;margin:0;padding:0}.dom.wide{display:block;width:100%;margin-right:0;margin-left:0}.dom.wide-flex{display:flex;width:100%;margin-right:0;margin-left:0}.dom.hide{display:none}input:placeholder-shown{color:rgba(50,75,120,0.5)}html,body{height:100%;margin:0;padding:0}body{font-family:'Josefin Sans',sans-serif;color:#000}hr{border:none;height:1px;background-image:-webkit-linear-gradient(to right, transparent, rgba(0,0,0,0.5) 50%, transparent);background-image:linear-gradient(to right, transparent, rgba(0,0,0,0.5) 50%, transparent)}.theme-label{color:rgba(0,0,0,0.8);font-family:sans-serif;white-space:nowrap;text-overflow:ellipsis;font-variant:small-caps;line-height:1rem;font-size:.8rem;padding:0 .5rem;margin:0;text-align:left;vertical-align:middle}.theme-info{color:#000;background:#fff;margin:.5rem;padding:1rem;text-align:justify;box-shadow:0 0 1px rgba(0,0,0,0.4)}.theme-elevation-0{box-shadow:none;z-index:0}.theme-elevation-1{box-shadow:0 .5px 1px rgba(0,0,0,0.4);transform:translateY(-0.5px);z-index:1}.theme-elevation-2{box-shadow:0 1px 2px rgba(0,0,0,0.4);transform:translateY(-1px);z-index:2}.theme-elevation-3{box-shadow:0 1.5px 3px rgba(0,0,0,0.4);transform:translateY(-1.5px);z-index:3}.theme-elevation-4{box-shadow:0 2px 4px rgba(0,0,0,0.4);transform:translateY(-2px);z-index:4}.theme-elevation-6{box-shadow:0 3px 6px rgba(0,0,0,0.4);transform:translateY(-3px);z-index:6}.theme-elevation-8{box-shadow:0 4px 8px rgba(0,0,0,0.4);transform:translateY(-4px);z-index:8}.theme-elevation-9{box-shadow:0 4.5px 9px rgba(0,0,0,0.4);transform:translateY(-4.5px);z-index:9}.theme-elevation-12{box-shadow:0 6px 12px rgba(0,0,0,0.4);transform:translateY(-6px);z-index:12}.theme-elevation-16{box-shadow:0 8px 16px rgba(0,0,0,0.4);transform:translateY(-8px);z-index:16}.theme-elevation-18{box-shadow:0 9px 18px rgba(0,0,0,0.4);transform:translateY(-9px);z-index:18}.theme-elevation-24{box-shadow:0 12px 24px rgba(0,0,0,0.4);transform:translateY(-12px);z-index:24}.theme-color-bg-0{background-color:#EEFFFF}.theme-color-0{color:#EEFFFF}.theme-color-bg-1{background-color:#DDF5F8}.theme-color-1{color:#DDF5F8}.theme-color-bg-2{background-color:#CCEBF1}.theme-color-2{color:#CCEBF1}.theme-color-bg-3{background-color:#BBE0EB}.theme-color-3{color:#BBE0EB}.theme-color-bg-4{background-color:#AAD6E4}.theme-color-4{color:#AAD6E4}.theme-color-bg-5{background-color:#99ccdd}.theme-color-5{color:#99ccdd}.theme-color-bg-6{background-color:#7AB8CC}.theme-color-6{color:#7AB8CC}.theme-color-bg-7{background-color:#5CA3BB}.theme-color-7{color:#5CA3BB}.theme-color-bg-8{background-color:#3D8FAA}.theme-color-8{color:#3D8FAA}.theme-color-bg-9{background-color:#1F7A99}.theme-color-9{color:#1F7A99}.theme-color-bg-10{background-color:#006688}.theme-color-10{color:#006688}.theme-color-bg-A0{background-color:#FFFFCC}.theme-color-A0{color:#FFFFCC}.theme-color-bg-A1{background-color:#FFE7A3}.theme-color-A1{color:#FFE7A3}.theme-color-bg-A2{background-color:#FFCF7A}.theme-color-A2{color:#FFCF7A}.theme-color-bg-A3{background-color:#FFB852}.theme-color-A3{color:#FFB852}.theme-color-bg-A4{background-color:#FFA029}.theme-color-A4{color:#FFA029}.theme-color-bg-A5{background-color:#ff8800}.theme-color-A5{color:#ff8800}.theme-color-bg-A6{background-color:#F07C00}.theme-color-A6{color:#F07C00}.theme-color-bg-A7{background-color:#E16F00}.theme-color-A7{color:#E16F00}.theme-color-bg-A8{background-color:#D16300}.theme-color-A8{color:#D16300}.theme-color-bg-A9{background-color:#C25600}.theme-color-A9{color:#C25600}.theme-color-bg-A10{background-color:#B34A00}.theme-color-A10{color:#B34A00}.theme-color-bg-B0{background-color:#FFFFFF}.theme-color-B0{color:#FFFFFF}.theme-color-bg-B1{background-color:#F5F7F8}.theme-color-B1{color:#F5F7F8}.theme-color-bg-B2{background-color:#ECEFF1}.theme-color-B2{color:#ECEFF1}.theme-color-bg-B3{background-color:#E2E8EA}.theme-color-B3{color:#E2E8EA}.theme-color-bg-B4{background-color:#D9E0E3}.theme-color-B4{color:#D9E0E3}.theme-color-bg-B5{background-color:#cfd8dc}.theme-color-B5{color:#cfd8dc}.theme-color-bg-B6{background-color:#BECACF}.theme-color-B6{color:#BECACF}.theme-color-bg-B7{background-color:#ACBBC2}.theme-color-B7{color:#ACBBC2}.theme-color-bg-B8{background-color:#9BADB6}.theme-color-B8{color:#9BADB6}.theme-color-bg-B9{background-color:#899EA9}.theme-color-B9{color:#899EA9}.theme-color-bg-B10{background-color:#78909C}.theme-color-B10{color:#78909C}@namespace "http://www.w3.org/1998/Math/MathML";div.math{display:inline;text-indent:0}div.math[display="block"]{display:block;text-align:center}div.math mfrac{display:inline-block !important;vertical-align:-50%;border-collapse:collapse}div.math mfrac>*{display:block !important}div.math mfrac>*+*{display:inline-block !important;vertical-align:top}div.math mfrac:not([linethickness="0"])>*:first-child{border-bottom:solid thin}div.math msub>*:nth-child(2),msubsup>*:nth-child(2),div.math mmultiscripts>*:nth-child(2n+2),div.math mmultiscripts>mprescripts~*:nth-child(2n+3){font-size:.8em;vertical-align:sub}div.math msup>*:nth-child(2),msubsup>*:nth-child(3),div.math mmultiscripts>*:nth-child(2n+3),div.math mmultiscripts>mprescripts~*:nth-child(2n+2){font-size:.8em;vertical-align:super}div.math mprescripts:after{content:";"}div.math munder,div.math mover,div.math munderover{display:inline-flex !important;flex-direction:column}div.math munder>*:nth-child(2),div.math munderover>*:nth-child(2){font-size:.8em;order:1}div.math mover>*:nth-child(2),div.math munderover>*:nth-child(3){font-size:.8em;order:-1}div.math munder{vertical-align:text-top}div.math mover{vertical-align:text-bottom}div.math munderover{vertical-align:middle}div.math msqrt,div.math mroot{display:inline-flex !important;margin-left:.5em;vertical-align:middle;border-top:solid thin}div.math msqrt:before,div.math mroot:before{margin-left:-0.5em;content:"\221A"}div.math mroot>*:nth-child(2){margin-right:.25em;margin-left:-0.75em;font-size:.8em;order:-1}div.math menclose{display:inline-table !important;border-collapse:separate;border-spacing:.4ex 0}div.math menclose[notation*="top"],div.math menclose[notation*="actuarial"]{border-top:solid thin}div.math menclose[notation*="bottom"],div.math menclose[notation*="madruwb"]{border-bottom:solid thin}div.math menclose[notation*="right"],div.math menclose[notation*="actuarial"],div.math menclose[notation*="madruwb"]{border-right:solid thin}div.math menclose[notation*="left"]{border-left:solid thin}div.math menclose[notation*="box"],div.math menclose[notation*="roundedbox"],div.math menclose[notation*="circle"]{border:solid thin}div.math menclose[notation*="roundedbox"]{border-radius:15%}div.math menclose[notation*="circle"]{border-radius:50%}div.math menclose[notation*="horizontalstrike"]{text-decoration:line-through}div.math mtable{display:inline-table !important;vertical-align:middle}div.math mtr{display:table-row !important}div.math mtd{display:table-cell !important;padding:0 .5ex}div.math mspace{margin:.2em}div.math mi{font-style:italic}div.math mo{margin-right:.2em;margin-left:.2em}div.math ms:before,div.math ms:after{content:"\0022"}div.math ms[lquote]:before{content:attr(lquote)}div.math ms[rquote]:after{content:attr(rquote)}div.math [mathvariant="bold"],div.math [mathvariant="bold-italic"],div.math [mathvariant="bold-sans-serif"],div.math [mathvariant="sans-serif-bold-italic"]{font-weight:bold;font-style:normal}div.math [mathvariant="monospace"]{font-family:monospace;font-style:normal}div.math [mathvariant="sans-serif"],div.math [mathvariant="bold-sans-serif"],div.math [mathvariant="sans-serif-italic"],div.math [mathvariant="sans-serif-bold-italic"]{font-family:sans-serif;font-style:normal}div.math [mathvariant="italic"],div.math [mathvariant="bold-italic"],div.math [mathvariant="sans-serif-italic"],div.math [mathvariant="sans-serif-bold-italic"]{font-style:italic}div.math [mathvariant="normal"]{font-style:normal}div.math mphantom{visibility:hidden}div.math merror{outline:solid thin red}div.math merror:before{content:"Error: "}div.math semantics>*:first-child{display:inline}div.math annotation,div.math annotation-xml{font-family:monospace;display:none !important}div.math math:active>semantics>*:first-child,div.math math:active>semantics>*:first-child{display:none !important}div.math math:active annotation:first-of-type{display:inline !important}